<mat-card>
    <form action="" (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input 
            matInput 
            type="text" 
            name="title" 
            id="title" 
            placeholder="Post Title*"
            ngModel 
            required 
            minlength="3" 
            #title="ngModel">
            <mat-error *ngIf="title.invalid">Please Enter a post title.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
            matInput 
            rows="6" 
            name="content"
            placeholder="Post Content" 
            ngModel 
            required 
            #content="ngModel"></textarea>
            <mat-error *ngIf="content.invalid">Please Enter post Content.</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Post</button>
    </form>
</mat-card>